@font-face {
  font-family: 'exo2.0-thin';
  src: url('../assets/fonts/exo2.0-thin.eot');
  src: url('../assets/fonts/exo2.0-thin.eot?#iefix') format('embedded-opentype'), 
        url('../assets/fonts/exo2.0-thin.woff2') format('woff2'), 
        url('../assets/fonts/exo2.0-thin.woff') format('woff'), 
        url('../assets/fonts/exo2.0-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato thin';
  src:  url('../assets/fonts/Lato-Thin.woff2') format('woff2'),
        url('../assets/fonts/Lato-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
